@{
    ViewBag.Title = "Index";
}

<h2><a href="http://azuren.chinacloudapp.cn/OAuth2/Authorize?client_id=1&redirect_uri=http://azuren.chinacloudapp.cn/Test/Callback&scope=email">Click Me To Login With Azuren OS!</a></h2>
