@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Notes</title>
    <link href="/Content/app/note/main.css" rel="stylesheet" />
    
</head>

<body>
    <div class="note-panel">
        <a href="javascript:;" class="btn note-add" data-bind="click: clear">Add Note</a>
        <div class="note-list" data-bind="foreach: list">
                <div class="note-item">
                <div class="note-delete">
                    <a href="javascript:;" data-bind="click: $parent.removeNote">X</a>
                </div>
                    <div class="note-title" data-bind="text: Title, attr:{'data-id':Id}, click: $parent.load">
                    </div>
                    
                </div>
        </div>
    </div>

    <div class="note-content">
        <div class="note-edit-control">
            <a href="javascript:;" class="btn note-edit-submit" data-bind="click: addNote">SAVE</a>
        </div>

        <div class="note-edit-title">
            <input type="text" data-bind="value: title" placeholder="Title" class="note-edit-title-control"/>
        </div>
        <div class="note-edit-content">
            <textarea class="note-edit-content-control" data-bind="value: content"></textarea>
        </div>
    </div>

    <script type="text/javascript" src="//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/Scripts/knockout-2.1.0.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/autosize.js/1.17.1/autosize-min.js"></script>
    <script type="text/javascript" src="/Scripts/azuren/azuren.api.js"></script>
    <script type="text/javascript" src="/Content/app/note/main.js"></script>
</body>
</html>
