<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="fabric"
      type="Microsoft.Fabric.Common.ConfigFile, Microsoft.WindowsFabric.Common"
      allowLocation="true" allowDefinition="Everywhere"/>
    <section name="uri" type="System.Configuration.UriSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />    
    <section name="dataCacheConfig" type="Microsoft.ApplicationServer.Caching.DataCacheConfigSection, Microsoft.ApplicationServer.Caching.Core" allowLocation="true" allowDefinition="Everywhere"/>
  </configSections>

  <dataCacheConfig cacheHostName="">
    
    <!-- Comment/uncomment below line to disable/enable file sink logging.
    Also location attribute is not honored. It is just specified since its mandatory. -->
    <!--<log logLevel="3" location="" />-->
    
    <clusterConfig connectionString="" />
  </dataCacheConfig>
  
  <fabric>
    <section name="param" path="">
      <!--<key name="VersionInfoClass" value="Microsoft.ApplicationServer.Caching.ServerVersionInfo, Microsoft.ApplicationServer.Caching.Server" />-->

      <key name="DroppedReplicaKeepDuration" value="0" />
      <key name="ClusterStableNodeUpInterval" value="10" />
      <key name="RPFederationCloseTimeout" value="15" />
      <key name="ReplicationQueueCapacity" value="128" />
      <key name="CopyQueueCapacity" value="2" />
      <key name="ReplicationTempListCapacity" value="1024" />
      <key name="ReplicationTempListInitialSize" value="128" />
      <key name="ReplicationRetryInterval" value="12" />
      <key name="ThrowOnAssert" value="true" />
      <key name="KeepOperationOnSecondary" value="false" />

      <key name="ExternalRingStateUpdateTimeout" value="3600" />

      <!-- This value should be atleast 2 * (Total retry time for x-store AcquireLease + ReleaseLease calls)-->
      <key name="ExternalRingStateInsertTimeout" value="120" />
      <key name="ExternalStoreUpdateRetry" value="12" />
      <key name="ArbitrationTimeout" value="120" />

      <!-- Comment/uncomment below two settings to disable/enable advanced and global LB. -->
      <!--<key name="LoadBalancingOnReplicaCount" value="false" />
      <key name="GlobalLoadBalancing" value="true" />-->

      <section name="LoadBalancing" path="">
        <collection name="metrics" collectionType="list">
          <varType name="partitionMemory" weight="1.0" lowWatermark="0" highWatermark="-1" ratioThreshold="1" />
        </collection>
      </section>
    </section>
  </fabric>

  <uri>
    <iriParsing enabled="true" />
  </uri>

  <runtime>
    <gcServer enabled="true" />
  </runtime>
  
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <throttling
             maxConcurrentCalls = "2048"
            />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>
