@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script type="text/javascript" src="/Content/sdk/azuren-sdk.js"></script>
</head>
<body>
    <div>
        <h1>This is first Application!!!!!</h1>
    </div>
</body>
</html>
