@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="/Content/app/todo/main.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="/Scripts/azuren/azuren.api.js"></script>
    <script type="text/javascript" src="/Content/app/todo/main.js"></script>
</head>
<body>
    <div>
        <h1>This is first Application!!!!!</h1>
        <h1>Hello, @User.Identity.Name, My Friend from outer window!</h1>
        <button id="btn">test</button>
    </div>
</body>
</html>
