@{
    ViewBag.Title = "Test";
    Layout = null;
}

<html>
    <head>
        <script type="text/javascript" src="/Scripts/azuren/azuren.api.js"></script>
        <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    </head>
    <body>
        <h2>API Test Demo</h2>
        <script type="text/javascript">
            Azuren.browser.open("http://baidu.com");
        </script>
    </body>
</html>
