li {
    list-style: none;
}

/* login
----------------------------------------------------------*/
.login-form {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 1px;
}

    .login-form .reg-link {
        text-align: right;
    }

    .login-form .login-btn {
        width: 100%;
        margin-top: 20px;
    }


/* signup
------------------------------------------------------*/
.signup-form {
    width: 400px;
    margin: 50px auto;
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 1px;
}

    .signup-form .login-link {
        text-align: right;
    }

    .signup-form .signup-btn {
        width: 100%;
        margin-top: 20px;
    }

.content-body {
    width: 960px;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

footer {
    text-align: center;
    border-top: solid 1px #ccc;
    padding-top: 25px;
}

.main-content {
    padding-bottom: 40px;
}

#add-new-room {
    width: 500px;
    margin: 5px auto;
}

.chat-log {
    height: 600px;
    overflow-y: scroll;
}

.post-content {
}

.post-btn-div {
    margin: 5px;
    text-align: right;
}

.chat-item {
    border: solid 1px #eee;
}

#room-tabs .close {
    margin: -10px -12px 5px 5px;
    font-size: 18px;
}

.chat-item .chat-time {
    color: lightblue;
    font-style: italic;
    margin-left: 10px;
}

.chat-content {
    padding: 10px;
}

.chat-info {
    background-color: #eee;
    padding-left: 10px;
    font-size: 12px;
}

.member-area {
    float: right;
    margin-left: 15px;
}

    .member-area .user-item {
        list-style: none;
    }

ul.member-list {
    padding-left: 5px;
    width: 100px;
    margin-left: -12px;
}

.my-id {
    color: orange;
}

.blink {
    -webkit-animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    -moz-animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.system-message {
    border: solid 1px #ccc;
}

.system-msg-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ccc;
    font-weight: bold;
}

.system-msg-content {
    padding: 10px;
}

.sys-error-msg {
    color: red;
}

.sys-success-msg {
    color: lime !important;
}

.terminal-output table td, .terminal-output table th {
    border-color: lime !important;
}

.console-table {
    color: lime;
}



.add-new-room {
}

.add-new-room-btn {
    height: 25px;
    padding: 0 5px;
    float: right;
    z-index: 10;
    position: relative;
    top: -25px;
    right: 1px;
    width: 45px;
}

.add-new-room-text {
    height: 25px;
    padding: 0 12px;
}

.room-list-box table {
    width: 100%;
}


.room-list-name {
}

.room-list-op {
    width: 35px;
}

.chat-box-container {
}

.chat-top-area {
    position: absolute;
    bottom: 150px;
    width: 100%;
    top: 0;
}

.chat-box-log {
    height: 100%;
    overflow-y: auto;
}

.chat-box-post button {
    float: right;
    height: 25px;
    padding: 0 10px;
    margin-top: 2px;
}

.chat-box-post {
    height: 152px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

    .chat-box-post textarea {
        width: 100%;
        resize: none;
        height: 120px;
    }

.chat-box-user {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    bottom: 150px;
    top: 0;
}

.chat-box-user-toggle {
    width: 20px;
    padding: 10px 5px;
    font-size: 13px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left: -20px;
    top: 40%;
}

    .chat-box-user-toggle:hover {
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
    }

.chat-box-user-list {
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    display: none;
    padding: 20px 0;
    border: solid 1px #ccc;
}

    .chat-box-user-list ul {
        padding: 0 10px;
    }

        .chat-box-user-list ul li {
            list-style: none;
        }

.redactor_editor {
    overflow-y: auto;
}

.window {
    background-color: rgb(66, 148, 222);
    opacity: 0.9;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.win-active {
    background: rgb(66, 148, 222);
    opacity: 1;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

.titlebuttons {
    right: 0;
}

    .titlebuttons a {
        background-image: none;
        border-radius: 0px;
        height: 29px;
        width: 29px;
        border: none;
        box-shadow: none;
        text-indent: 0;
        text-decoration: none;
        padding-top: 9px;
        background-color: transparent;
    }

        .titlebuttons a:before {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            text-shadow: none;
        }

.titlebar a:hover {
    box-shadow: none;
    background-color: transparent;
}

.titlebar .closebtn:hover {
    color: red;
}

.titlebar .closebtn:hover {
    box-shadow: none;
}

.titlebar .minimizebtn:before {
    content: "\e114";
}

.titlebar .maximizebtn:before {
    content: "\e113";
}

.titlebar .closebtn:before {
    content: "\e014";
}

.chat-container {
    padding: 10px;
}

.room-list-box {
    overflow-y: auto;
    width: 100%;
}

.room-list-name a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.btn-group .btn {
    height: 28px;
}

.chat-my-info .username {
    font-size: 35px;
}

.chat-info-setting:hover {
    cursor: pointer;
}

.chat-settings {
    padding: 10px;
}

.widget-title {
    height: 20px;
    background-color: transparent;
    visibility: hidden;
}

    .widget-title .wdg-close {
    }

.wiget-title .wdg-move {
}

.widget-title span:hover {
    color: #eeeeee;
    border-color: #eeeeee;
}

.widget-title span {
    float: right;
    margin-left: 7px;
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
    height: 18px;
}

#widgets {
    padding: 20px 0;
    right: 20px;
}

/*   App Store*/
.store-container {
    width: 100%;
    padding: 10px;
}

.store-app {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

    .store-app:hover {
        background-color: rgba(0,0,0,0.1);
        cursor: pointer;
        border-radius: 2px;
    }

.store-app-icon img {
    margin: 3px auto;
    width: 80px;
    height: 80px;
    display: block;
}

.store-app-text {
    text-align: center;
}

.store-app-name {
    background-color: #aaa;
    border-radius: 10px;
    padding: 2px 7px;
    font-size: 12px;
    color: white;
}
.store-header {
    padding: 3px;
    background-color: #ccc;
    box-shadow: 0 0 5px black;
}
.store-search-content {
    height: 30px;
    line-height: 30px;
    width: 80px;
    float: right;
    transition: width 0.3s;
    -webkit-transition: width 0.3s; /* Safari */
    padding: 1px 12px;
}
.store-search-content:focus {
    width: 200px;
}
.store-search {
    
}
.store-search-form {
    padding: 0;
    margin: 0;    
}
.store-search-btn {
    float: right;
}
.va-setup {
    float: right;
}
.va-installed {
    float: right;
}
.va-container {
    text-align: center;
}

.store-home {
    height: 30px;
}