.form-control {
    border-radius: 0;
}
li {
    list-style: none;
}

.btn {
    border-radius: 0;
}

/* login
----------------------------------------------------------*/
.login-form {
    width: 50%;
    height: 100%;
    float: right;
    background-color: transparent;
}

    .login-form form {
        width: 350px;
        margin: 0 auto;
    }

    .login-form .reg-link {
        text-align: right;
        color: white;
    }
    .login-form label {
        color: white;
    }

    .login-form .form-control {
        border-radius: 0;
    }

    .login-form .login-btn {
        width: 100%;
        margin-top: 20px;
        border-radius: 0;
        background-color: #01bcf3;
    }
    .login-form input:-webkit-autofill {
        color: white !important;
    }
    .login-form [type=text],.login-form [type=password] {
        border: #cccccc 2px solid;
        color: white;
        font-weight: bold;
        background-color: transparent;
    }
    .login-form [type=text]:focus,.login-form [type=password]:focus {
    }

.login-ad {
    float: left;
    width: 49%;
}

    .login-ad li {
        list-style: none;
    }

    .login-ad ul {
        margin: 0;
        padding: 0;
        background-color: transparent;
    }

        .login-ad ul li {
            float: left;
            width: 100%;
            height: 100%;
            background-size: auto 100% ;
            background-position: -100% 0;
        }

    .login-ad .dots {
        position: absolute;
        z-index: 10;
        top: 580px;
    }


        .login-ad .dots li {
            display: inline-block;
            width: 10px;
            height: 10px;
            margin: 0 4px;
            text-indent: -999em;
            border-radius: 5px;
            background-color: white;
            cursor: pointer;
            opacity: .4;
            -webkit-transition: background .5s, opacity .5s;
            -moz-transition: background .5s, opacity .5s;
            transition: background .5s, opacity .5s;
        }

            .login-ad .dots li.active {
                background: #01bcf3;
                opacity: 1;
            }




.login-container {
    height: 480px;
    width: 980px;
    margin: 120px auto;
    background-color: rgba(0,0,0,0.3);
}

.ad-float-text {
    font-size: 42px;
    font-family: "Segoe UI Light";
    display: block;
    position: absolute;
    width: 400px;
    color: white;
    height: 100px;
    margin-top: 320px;
    background-color: #01bcf3;
    line-height: 100px;
    padding-left: 50px;
}

.ad-easy {
    background-color: #01bcf3;
}

.ad-safe {
    background-color: #ef6421;
}

.ad-open {
    background-color: #88c402;
}


.content-body {
    width: 960px;
    margin: 50px auto;
    padding: 20px 50px;
    background-color: white;
    box-shadow: 0 2px 6px rgba(100, 100, 100, 0.3);
}

footer {
    text-align: center;
    border-top: solid 1px #ccc;
    padding-top: 25px;
}

.main-content {
    padding-bottom: 40px;
}

#add-new-room {
    width: 500px;
    margin: 5px auto;
}

.chat-log {
    height: 600px;
    overflow-y: scroll;
}

.post-content {
}

.post-btn-div {
    margin: 5px;
    text-align: right;
}

.chat-item {
    border: solid 1px #eee;
}

#room-tabs .close {
    margin: -10px -12px 5px 5px;
    font-size: 18px;
}

.chat-item .chat-time {
    color: lightblue;
    font-style: italic;
    margin-left: 10px;
}

.chat-content {
    padding: 10px;
}

.chat-info {
    background-color: #eee;
    padding-left: 10px;
    font-size: 12px;
}

.member-area {
    float: right;
    margin-left: 15px;
}

    .member-area .user-item {
        list-style: none;
    }

ul.member-list {
    padding-left: 5px;
    width: 100px;
    margin-left: -12px;
}

.my-id {
    color: orange;
}

.blink {
    -webkit-animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    -moz-animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
    animation: blinker 1s cubic-bezier(.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@-webkit-keyframes blinker {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.system-message {
    border: solid 1px #ccc;
}

.system-msg-title {
    border-bottom: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #ccc;
    font-weight: bold;
}

.system-msg-content {
    padding: 10px;
}

.sys-error-msg {
    color: red;
}

.sys-success-msg {
    color: lime !important;
}

.terminal-output table td, .terminal-output table th {
    border-color: lime !important;
}

.console-table {
    color: lime;
}



.add-new-room {
}

.add-new-room-btn {
    height: 25px;
    padding: 0 5px;
    float: right;
    z-index: 10;
    position: relative;
    top: -25px;
    right: 1px;
    width: 45px;
}

.add-new-room-text {
    height: 25px;
    padding: 0 12px;
}

.room-list-box table {
    width: 100%;
}


.room-list-name {
}

.room-list-op {
    width: 35px;
}

.chat-box-container {
}

.chat-top-area {
    position: absolute;
    bottom: 150px;
    width: 100%;
    top: 0;
}

.chat-box-log {
    height: 100%;
    overflow-y: auto;
}

.chat-box-post button {
    float: right;
    height: 25px;
    padding: 0 10px;
    margin-top: 2px;
}

.chat-box-post {
    height: 152px;
    bottom: 0;
    position: absolute;
    width: 100%;
}

    .chat-box-post textarea {
        width: 100%;
        resize: none;
        height: 120px;
    }

.chat-box-user {
    position: absolute;
    right: 0;
    z-index: 10;
    height: 100%;
    bottom: 150px;
    top: 0;
}

.chat-box-user-toggle {
    width: 20px;
    padding: 10px 5px;
    font-size: 13px;
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    left: -20px;
    top: 40%;
}

    .chat-box-user-toggle:hover {
        background-color: rgba(0,0,0,0.3);
        cursor: pointer;
    }

.chat-box-user-list {
    height: 100%;
    background-color: rgba(255,255,255,0.7);
    display: none;
    padding: 20px 0;
    border: solid 1px #ccc;
}

    .chat-box-user-list ul {
        padding: 0 10px;
    }

        .chat-box-user-list ul li {
            list-style: none;
        }

.redactor_editor {
    overflow-y: auto;
}

.window {
    background-color: rgb(66, 148, 222);
    opacity: 0.9;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.win-active {
    opacity: 1;
    -moz-box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 5px #000;
    box-shadow: 0px 0px 5px #000;
}

.titlebuttons {
    right: 0;
}

    .titlebuttons a {
        background-image: none;
        border-radius: 0px;
        height: 29px;
        width: 29px;
        border: none;
        box-shadow: none;
        text-indent: 0;
        text-decoration: none;
        padding-top: 9px;
        background-color: transparent;
    }

        .titlebuttons a:before {
            font-family: 'Glyphicons Halflings';
            font-style: normal;
            font-weight: 400;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            text-shadow: none;
        }

.titlebar a:hover {
    box-shadow: none;
    background-color: transparent;
}

.titlebar .closebtn:hover {
    color: red;
}

.titlebar .closebtn:hover {
    box-shadow: none;
}

.titlebar .minimizebtn:before {
    content: "\e114";
}

.titlebar .maximizebtn:before {
    content: "\e113";
}

.titlebar .closebtn:before {
    content: "\e014";
}

.chat-container {
    padding: 10px;
}

.room-list-box {
    overflow-y: auto;
    width: 100%;
}

.room-list-name a {
    display: block;
    text-decoration: none;
    text-align: center;
}

.btn-group .btn {
    height: 28px;
}

.chat-my-info .username {
    font-size: 35px;
}

.chat-info-setting:hover {
    cursor: pointer;
}

.chat-settings {
    padding: 10px;
    
}

#widgets .widget {
    -webkit-box-shadow: none;
    box-shadow: none;
    float: none;
}

    #widgets .widget:hover {
        -webkit-box-shadow: none;
        box-shadow: none;
        -webkit-transform: none;
        transform: none;
        border: none;
    }

.widget-title {
    height: 20px;
    background-color: transparent;
    visibility: hidden;
}

    .widget-title .wdg-close {
    }

.wiget-title .wdg-move {
}

.widget-title span:hover {
    color: #eeeeee;
    border-color: #eeeeee;
}

.widget-title span {
    float: right;
    margin-left: 7px;
    display: inline-block;
    margin-right: 5px;
    padding: 3px;
    height: 18px;
}

#widgets {
    padding: 20px 0;
    right: 20px;
}

/*   App Store*/
.store-container {
    width: 100%;
    padding: 10px;
}


.store-app-icon img {
    margin: 3px auto;
    width: 80px;
    height: 80px;
    display: block;
}

.store-app-text {
    text-align: center;
}

.store-app-name {
    background-color: #aaa;
    border-radius: 10px;
    padding: 2px 7px;
    font-size: 12px;
    color: white;
}

.store-header {
    padding: 3px 20px;
    background-color: black;
}

.store-search-content {
    height: 30px;
    line-height: 30px;
    width: 80px;
    float: right;
    transition: width 0.3s;
    -webkit-transition: width 0.3s;
    padding: 1px 12px;
    border: solid 3px #ccc;
    border-radius: 0;
    color: white;
    background-color: #111;
}

    .store-search-content:focus {
        width: 200px;
    }

.store-search {
}

.store-search-form {
    padding: 0;
    margin: 0;
}

.store-search-btn {
    float: right;
    border: solid 2px white;
    border-radius: 0;
    height: 30px;
    background-color: black;
}

.va-setup {
    float: right;
}

.va-installed {
    float: right;
}

.va-container {
    background-color: #ededed;
}
.va-header {
    font-size: 60px;
background-color: #464646;
text-align: left;
color: white;
padding-left: 20px;
}

.store-home {
    height: 30px;
}
.va-container .screenshots {
    margin: 20px auto;
    box-shadow: 1px 1px 20px #ccc;
}
.va-desc {
    margin: 40px 0;
}
.va-detail-content {
    padding: 10px;
}
.va-title {
width: 180px;
background-color: #bad80a;
left: 0;
position: relative;
margin-left: 0;
height: 32px;
color: white;
padding: 0 20px;
font-size: 23px;
line-height: 32px;
}
#disqus_thread {
    margin-top: 10px;
padding: 10px;
}
/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

ul.bjqs-controls.v-centered li a{
	display:block;
	padding:10px;
	background:#fff;
	color:#000;
	text-decoration: none;
    width: 70px;
    text-align: center;
}

ul.bjqs-controls.v-centered li a:hover{
	background:#00bbf1;
	color:#fff;
}

ol.bjqs-markers li a{
	padding:5px 10px;
	background:#000;
	color:#fff;
	margin:5px;
	text-decoration: none;
}

ol.bjqs-markers li.active-marker a,
ol.bjqs-markers li a:hover{
	background: #999;
}

p.bjqs-caption{
	background: rgba(255,255,255,0.5);
}


/*File app defined css*/
.files-nav {
    margin: 0;
    position: relative;
    z-index: 10;
}

.files-list {
    width: 100%;
    position: absolute;
    top: 0px;
    height: 100%;
    padding: 35px 10px 0 10px;
    overflow: auto;
}

.file-item {
    float: left;
    padding: 5px;
    width: 120px;
text-align: center;
border: solid 1px #ccc;
margin: 10px;
}


    .file-item:hover {
        background-color: rgba(0,0,0,0.2);
        cursor: pointer;
    }

.file-icon {
    margin: 5px auto;
}

.file-name {
    text-align: center;
}

.files-nav li.active > a {
}


.fancybox-lock .fancybox-overlay {
    overflow: hidden;
}

.file-operations {
    display: inline-block;
    float: right;
}

p {
    margin: 0;
}

.modal {
    overflow: hidden;
}

.info-dialog {
    z-index: 3000;
    position: absolute;
    top: -5px;
    left: 50%;
    width: 400px;
    margin-left: -200px;
    padding: 0;
}

.lock-screen {
    z-index: 99999;
    width: 100%;
    height: 100%;
    visibility: hidden;
    position: absolute;
}

.lock-screen-img {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
}

.lock-screen-widget {
    position: absolute;
    font-size: 50px;
    color: white;
    bottom: 40px;
    left: 40px;
    font-family: "Segoe UI Semilight";
}
/*--browser style*/
.browser-nav {
    float: left;
    width: 32px;
    height: 30px;
    margin-left: 5px;
    line-height: 22px;
}

    .browser-nav:hover {
        cursor: pointer;
    }

.browser-addr {
    margin-left: 200px;
    margin-right: 40px;
}

.browser-addr-input {
    width: auto;
    display: block;
}

.browser-addr-go {
    float: right;
}

.browser-go {
    float: right;
}

.browser-addr-input {
    width: 100%;
    height: 30px;
}

.browser-main {
    position: absolute;
    top: -4px;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 70px;
    margin: 0;
}

.browser-frame {
    width: 100%;
    height: 100%;
    border: none;
}

.browser-header {
    z-index: 10;
    position: absolute;
    width: 100%;
}

.browser-container {
    padding-top: 5px;
}

.browser-tabs {
    margin-top: 5px;
    margin-left: 3px;
}

    .browser-tabs > li > a {
        height: 25px;
        line-height: 20px;
        padding: 0 20px;
    }

.browser-add-tab {
    float: right !important;
    margin-top: 5px;
    margin-right: 5px;
}

    .browser-add-tab:hover {
        cursor: pointer;
    }

.browser-main .tab-pane {
    width: 100%;
    height: 100%;
}

.loading-dot {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 5000;
    height: 10px;
}

    .loading-dot .dot {
        -webkit-animation: slidein 1.5s infinite ease-in-out;
        animation: slidein 1.5s infinite ease-in-out;
        width: 6px;
        height: 6px;
        border-radius: 3px;
        background-color: white;
        position: absolute;
    }

@-webkit-keyframes slidein {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

@keyframes slidein {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

#gallery {
    width: 100%;
    height: 100%;
    padding: 70px 200px;
    text-align: center;
    z-index: 10;
}


#wrap {
    overflow: hidden;
    padding: 3%;
}

#pbOverlay.show ~ #wrap {
    -webkit-filter: blur(2px) grayscale(.4);
}

#gallery li {
    list-style: none;
    perspective: 100px;
    -webkit-perspective: 100px;
    margin: 3px;
    float: left;
    position: relative;
    transition: .1s;
    -webkit-transition: 0.1s;
}

    #gallery li.video::before {
        content: '\25BA';
        color: #FFF;
        font-size: 20px;
        height: 20px;
        width: 20px;
        line-height: 0.9;
        position: absolute;
        bottom: 3px;
        left: 4px;
        z-index: 1;
        background: rgba(0,0,0,0.4);
        box-shadow: 0 0 0 3px rgba(0,0,0,0.4);
        border-radius: 0 3px 0 0;
        pointer-events: none;
        opacity: 0;
        transition: .5s 0.2s;
    }

    #gallery li.loaded.video::before {
        opacity: 1;
    }

#gallery a {
    display: block;
    width: 200px;
    height: 136px;
    vertical-align: bottom;
    overflow: hidden;
    background: rgba(0,0,0,0.1);
    transition: .4s ease-out;
    -webkit-transition: 0.4s ease-out;
    -webkit-transform: rotateX(90deg) translate(-50px,-50%);
    transform: rotateX(90deg) translate(-50px,-50%);
}

    #gallery a:active, #gallery a:focus {
        outline: none;
    }

    #gallery a img {
        min-height: 100%;
        width: 100%;
        transition: .3s ease-out;
        -webkit-transition: 0.3s ease-out;
    }

#gallery .loaded a {
    -webkit-transform: rotateX(0deg) translate(0,0);
    transform: rotateX(0deg) translate(0,0);
}

#gallery li.loaded:hover {
    z-index: 2;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
}

#gallery li.loaded a:hover {
    box-shadow: 0 0 0 2px #FFF, 0 0 20px 5px #000;
    transition: .1s;
    -webkit-transition: 0.1s;
}

#gallery li.loaded:hover img {
    transform: scale(1.2);
    -webkit-transform: scale(1.2);
}

#gallery li.loaded.video:hover::before {
    opacity: 0;
}

.gallery-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.photo-header {
    z-index: 20;
    display: block;
    font-size: 36px;
    position: relative;
    margin: 40px 0 0 100px;
    font-weight: bolder;
    color: white;
}

.appbar-hide {
    opacity: 0;
    transition: all .2s;
    -webkit-transition: all .2s;
    bottom: -70px !important;
}

    .appbar-hide:hover {
        bottom: 0 !important;
        opacity: 1;
    }
.close-profile {
    width: 80%;
    margin: 5px auto;
}