@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Clock</title>
    <script type="text/javascript" src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>
    <style type="text/css">
        * {
            margin: 0;
            padding: 0;
        }

        #clock {
            position: relative;
            width: 540px;
            height: 540px;
            margin: 0;
            background: url(/Content/app/clock/clockface.png);
            list-style: none;
            zoom: 0.3;
        }

        #sec, #min, #hour {
            position: absolute;
            width: 30px;
            height: 600px;
            top: -25px;
            left: 250px;
        }

        #sec {
            background: url(/Content/app/clock/sechand.png);
            z-index: 3;
        }

        #min {
            background: url(/Content/app/clock/minhand.png);
            z-index: 2;
        }

        #hour {
            background: url(/Content/app/clock/hourhand.png);
            z-index: 1;
        }

        p {
            text-align: center;
            padding: 10px 0 0 0;
        }
    </style>

    <script type="text/javascript">

        $(document).ready(function () {

            setInterval(function () {
                var seconds = new Date().getSeconds();
                var sdegree = seconds * 6;
                var srotate = "rotate(" + sdegree + "deg)";

                $("#sec").css({ "-moz-transform": srotate, "-webkit-transform": srotate, "transform":srotate });

            }, 1000);


            setInterval(function () {
                var hours = new Date().getHours();
                var mins = new Date().getMinutes();
                var hdegree = hours * 30 + (mins / 2);
                var hrotate = "rotate(" + hdegree + "deg)";

                $("#hour").css({ "-moz-transform": hrotate, "-webkit-transform": hrotate, "transform": hrotate });

            }, 1000);


            setInterval(function () {
                var mins = new Date().getMinutes();
                var mdegree = mins * 6;
                var mrotate = "rotate(" + mdegree + "deg)";

                $("#min").css({ "-moz-transform": mrotate, "-webkit-transform": mrotate, "transform": mrotate });

            }, 1000);

        });

    </script>
    </head>

    <body>
        <ul id="clock">
            <li id="sec"></li>
            <li id="hour"></li>
            <li id="min"></li>
        </ul>

    </body>
</html>
