@model IEnumerable<AzurenRole.App>
@{
    Layout = null;
}
<div class="store-header clearfix">
    <div class="store-search">
        <form class="store-search-form">
        <button class="btn btn-small btn-default store-search-btn glyphicon glyphicon-search"></button>
        <input placeholder="Search..." name="search" class="store-search-content form-control" />
     </form>
    </div>
</div>

<div class="store-container">
    @foreach (var item in Model)
    {
        <div class="store-app" data-id="@item.Id">
            <div class="store-app-icon">
                <img src="@item.Icon"/></div>
            <div class="store-app-text"><span class="store-app-name">@item.Name</span></div>
        </div>
    }
    
</div>
