@model IEnumerable<AzurenRole.App>
@{
    Layout = null;
}


<div class="metro-layout horizontal">
    <div class="header" style="color: white;">
        <h1>Azuren App Store</h1>
        <div class="controls">
            <span class="next" title="Scroll left"></span>
            <span class="prev" title="Scroll right"></span>
        </div>
    </div>
    <div class="content clearfix">
        <div class="items">
            @foreach (var item in Model)
            {
                <a class="box store-app b-blue width@{@item.Store.IWidth } height@{@item.Store.IHeight}" href="#" data-id="@item.Id">
                        <span>@item.Name</span>
                        <img class="icon" src="@item.Store.Icon" alt=""/>
                </a>
            }
        </div>
    </div>
</div>
<script type="text/javascript">
    (function () {

    })();
</script>
